---
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: None
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
BracedInitializerIndentWidth: 4
BreakConstructorInitializers: BeforeColon
BreakFunctionDefinitionParameters: false
BreakTemplateDeclarations: Yes
ColumnLimit: 120
CompactNamespaces: true
FixNamespaceComments: false
IndentAccessModifiers: false
IndentCaseLabels: true
IndentWidth: 4
InsertNewlineAtEOF: false
Language: Cpp
LineEnding: LF
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
QualifierAlignment: Left
ReferenceAlignment: Left
RemoveParentheses: MultipleParentheses
RemoveSemicolon: true
SortIncludes:
  Enabled: true
SortUsingDeclarations: LexicographicNumeric
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParensOptions: {}
SpaceBeforeRangeBasedForLoopColon: true
SpacesInAngles: Never
Standard: c++20
TabWidth: 4
UseTab: Never
